<section class="d-flex flex-column justify-content-center align-items-center w-100" style="min-height: 600px; margin: 80px 0;">

  <main class="contato d-flex justify-content-around align-items-center">

    <div class="container-left d-flex flex-column justify-content-center align-items-center w-50 shadow">

      <div class="container-left__title">
        <h3>Entre em Contato</h3>
      </div>

      <div class="container-left__inputs d-flex flex-column justify-content-around w-75 my-4">
        <input type="text" name="nome" id="nome" placeholder="Seu nome ..." class="form-control">
        <input type="email" name="email" id="email" placeholder="Seu email ..." class="form-control">
        <textarea name="solicitacao" id="solicitacao" cols="30" rows="6" class="form-control" placeholder="Entre em contato ..."></textarea>
      </div>

      <div class="container-left__button mt-3">
        <button class="default-button">Enviar</button>
      </div>

    </div>

    <div class="container-right d-flex flex-column justify-content-center align-items-center w-50 shadow">

      <div class="container-right__imagem">
        <img src="assets/images/icone.png" alt="logo" class="logo__contato">
      </div>

    </div>
  </main>

</section>

<div>
  <app-footer></app-footer>
</div>
