<section class="d-flex flex-column justify-content-center align-items-center">

  <main class="servicos d-flex flex-column justify-content-center align-items-center">

    <div class="servicos-titulo mt-5">
      <h4>Nossos <strong>Serviços</strong></h4>
    </div>

    <div class="servicos-detalhes row gx-0 justify-content-around container my-5">

      <div class="detalhes d-flex flex-column justify-content-center col-md-5">
        <p class="detalhes-titulo">Instalação de Sistema Operacional</p>

        <p class="detalhes-texto">Com nossa expertise, conseguimos transformar a tecnologia em uma vantagem competitiva para nossos clientes, otimizando processos e
          elevando o desempenho operacional.</p>

      </div>

      <div class="detalhes d-flex flex-column justify-content-center col-md-5">
        <p class="detalhes-titulo">Instalação de Sistema Operacional</p>

        <p class="detalhes-texto">Com nossa expertise, conseguimos transformar a tecnologia em uma vantagem competitiva para nossos clientes, otimizando processos e
          elevando o desempenho operacional.</p>

      </div>

      <div class="detalhes d-flex flex-column justify-content-center col-md-5">
        <p class="detalhes-titulo">Instalação de Sistema Operacional</p>

        <p class="detalhes-texto">Com nossa expertise, conseguimos transformar a tecnologia em uma vantagem competitiva para nossos clientes, otimizando processos e
          elevando o desempenho operacional.</p>

      </div>

      <div class="detalhes d-flex flex-column justify-content-center col-md-5">
        <p class="detalhes-titulo">Instalação de Sistema Operacional</p>

        <p class="detalhes-texto">Com nossa expertise, conseguimos transformar a tecnologia em uma vantagem competitiva para nossos clientes, otimizando processos e
          elevando o desempenho operacional.</p>

      </div>

      <div class="detalhes d-flex flex-column justify-content-center col-md-5">
        <p class="detalhes-titulo">Instalação de Sistema Operacional</p>

        <p class="detalhes-texto">Com nossa expertise, conseguimos transformar a tecnologia em uma vantagem competitiva para nossos clientes, otimizando processos e
          elevando o desempenho operacional.</p>

      </div>

      <div class="detalhes d-flex flex-column justify-content-center col-md-5">
        <p class="detalhes-titulo">Instalação de Sistema Operacional</p>

        <p class="detalhes-texto">Com nossa expertise, conseguimos transformar a tecnologia em uma vantagem competitiva para nossos clientes, otimizando processos e
          elevando o desempenho operacional.</p>

      </div>

    </div>

    <div>
      <button class="default-button mb-5">Contratar</button>
    </div>

  </main>

</section>


<div>
  <app-footer></app-footer>
</div>
