<section class="d-flex flex-column justify-content-center align-items-center">

  <main class="servicos d-flex flex-column justify-content-center align-items-center">

    <div class="servicos-titulo mt-5">
      <h4>Nossos <strong>Serviços</strong></h4>
    </div>

    <div class="servicos-detalhes row gx-0 justify-content-around container my-5">

      <div class="detalhes d-flex flex-column justify-content-center col-md-5">
        <p class="detalhes-titulo">Instalação e suporte em Sistemas Operacionais</p>

        <p class="detalhes-texto"> Realizamos instalação e oferecemos suporte técnico à sistemas operacionais, incluindo
          manutenção, reparo e atualização de drivers.</p>

      </div>

      <div class="detalhes d-flex flex-column justify-content-center col-md-5">
        <p class="detalhes-titulo">Consultoria em tecnologia da informação</p>

        <p class="detalhes-texto">Oferecemos soluções de TI, como análise de processos de negócios, arquitetura de
          sistemas,
          planejamento e implementação de projetos de TI.</p>

      </div>

      <div class="detalhes d-flex flex-column justify-content-center col-md-5">
        <p class="detalhes-titulo">Desenvolvimento de softwares</p>

        <p class="detalhes-texto">Desenvolvimento de programas de software personalizados para atender às necessidades
          específicas das empresas, desde aplicativos desktop até soluções baseadas em nuvem.</p>

      </div>

      <div class="detalhes d-flex flex-column justify-content-center col-md-5">
        <p class="detalhes-titulo">Implantação e gerenciamento de infraestrutura</p>

        <p class="detalhes-texto">Implementação, configuração e gerenciamento de infraestrutura de servidores,
          incluindo hardware, sistema operacional e serviços.</p>

      </div>

      <div class="detalhes d-flex flex-column justify-content-center col-md-5">
        <p class="detalhes-titulo">Segurança da informação</p>

        <p class="detalhes-texto">Implementação de soluções de segurança da informação, como firewall, antivírus,
          criptografia,
          autenticação, gerenciamento de identidade e acesso, monitoramento de eventos e prevenção contra ameaças.</p>

      </div>

      <div class="detalhes d-flex flex-column justify-content-center col-md-5">
        <p class="detalhes-titulo">Suporte técnico e manutenção de hardware</p>

        <p class="detalhes-texto"> Oferecemos suporte técnico para hardware, incluindo manutenção e reparo.</p>

      </div>

    </div>

    <div>
      <button class="default-button mb-5">Contratar</button>
    </div>

  </main>

</section>


<div>
  <app-footer></app-footer>
</div>