.conteudo
{
  min-height: 623px;
}

.header
{
  position: sticky;
  top: 0;
  z-index: 99;
}


/* === admin === */

.lateral
{
  width: 13vw;
  background-color: green;
  height: 100vh;
}

.central
{
  width: 87%;
}

.conteudo-admin
{
  background-color: #f3f8fb;
  min-height: 890px;
}
