<div *ngIf="validate">

  <header class="header">
    <app-menu></app-menu>
  </header>

  <main class="conteudo">
    <router-outlet></router-outlet>
  </main>
</div>


<div *ngIf="!validate">
  <div class="d-flex">

    <div class="lateral">
      <app-menu-lateral></app-menu-lateral>
    </div>

    <div class="central">
      <header class="">
        <app-menu-admin></app-menu-admin>
      </header>
      <main class="conteudo-admin">
        <router-outlet></router-outlet>
      </main>
    </div>

  </div>




</div>






