.list
{
  color: #888888;
  cursor: pointer;

}


.menu-admin
{
  background-color: white;
  height: 8vh;
}

.div__blocks, .dropdown
{
  padding: 0 20px;
}

.div__blocks
{
  width: 10%;
}

.icone-menu
{
  color: #888888;
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.icone-menu:hover
{
  transition: 0.5s;
  transform: scale(1.2);
}
