<section class="home__section d-flex flex-column justify-content-center align-items-center">

  <main class="home__main w-100"><!-- ilustrativo -->

    <div class="row g-0 mt-5">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="d-flex flex-column justify-content-center align-items-center">

          <div class="d-flex justify-content-center align-items-center">

            <div class="home__solucoes mx-2">
              <p>Soluções de </p>
            </div>

            <div class="typewriter">
              <p> Hardware, Software, Infraestrutura e Redes .</p>
            </div>
          </div>

          <div class="my-3">
            <p class="color-white subtitulo">
              Transformando tecnologia em soluções para o seu negócio.
            </p>
            <p class="color-white subtitulo">
              Boqueirão de Praia Grande/SP.
            </p>
          </div>

          <div class="mt-3">
            <p class="color-white corpo__texto">
              Com nossa expertise, conseguimos transformar a tecnologia em uma vantagem competitiva para nossos
              clientes, otimizando processos e
              elevando o desempenho operacional.
            </p>
          </div>

        </div>
      </div>
      <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">

        <div>
          <div class="text-end">
            <img src="assets/images/wifi.png" alt="image_wifi" class="image__wifi">
          </div>

          <div>
            <img src="assets/images/globo_internet.png" alt="image_internet" class="image__globo">
          </div>
        </div>

      </div>
    </div>

  </main>

  <div class="home__quemSomos d-flex flex-column justify-content-center align-items-center mb-5 w-50">

    <div class="home__quemSomos__title">
      <h2>Quem somos nós?</h2>
    </div>

    <div class="mt-5 d-flex justify-content-between align-items-center w-100">

      <div>
        <img src="assets/images/icone.png" alt="icone" class="icone">
      </div>

      <div class="d-flex flex-column justify-content-center align-items-center quemSomos">
        <p class="quemSomos__texto">
          Criada para atender novas microempresas que desejam informatizar seu negócio, a CGG busca atender às
          necessidades dos clientes, e facilitar a administração e andamento de suas empresas por meio de tecnologias.,
        </p>
        <p class="quemSomos__texto">
          A CGG já está atuando no mercado há 10 anos, dando satisfação aos clientes que usufruem de nossos serviços.
        </p>
        <p class="quemSomos__texto">
          Nosso trabalho é fornecer suporte em diversas questões tecnológicas para a empresa, quanto aos serviços que
          prestamos.
        </p>
      </div>

    </div>

  </div>

  <div class="home__servicos d-flex flex-column justify-content-center align-items-center mb-5 w-100">
    <!-- Nossos serviços -->

    <div class="home__servicos__title">
      <h2>Principais Clientes</h2>
    </div>

    <div class="my-5 d-flex flex-column justify-content-center align-items-center w-100">

      <div class="row g-0 d-flex justify-content-center align-items-center w-100 mb-5">

        <div class="col-md-4 home__servicos-bloco text-center mx-5" (click)="redirectCompany('https://greenvegan013.menudino.com/')">
          <div class="card">
            <!--Empresa-->
            Green Vegan
            <img src="assets\images\green-vegan.png" alt="">
          </div>
        </div>

        <div class="col-md-4 home__servicos-bloco text-center mx-5" (click)="redirectCompany('https://www.paulumar.com.br/')">
          <div class="card">
            <!--Empresa-->
            Paulumar Imóveis
            <img src="assets\images\paulimar-imoveis.jpg" alt="">
          </div>
        </div>

      </div>

      <div class="row g-0 d-flex justify-content-center align-items-center w-100 mb-5">

        <div class="col-md-4 home__servicos-bloco text-center mx-5" (click)="redirectCompany('https://www.vicentao.com.br/')">
          <div class="card">
            <!--Empresa-->
            Vicentão Auto Peças
            <img src="assets\images\vicentao.png" alt="">
          </div>
        </div>

        <div class="col-md-4 home__servicos-bloco text-center mx-5" (click)="redirectCompany('https://idealmex.com.br/')">
          <div class="card">
            <!--Empresa-->
            Idealmex Transportadora
            <img src="assets\images\idealmex-transportadora.jpg" alt="">
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="parceiros ">

    <input type="radio" name="position" />
    <input type="radio" name="position" checked />
    <input type="radio" name="position" />

    <main id="carousel" class="">
      <div class="slide">
        <img src="assets/images/system.png" alt="parceria" class="parceria__image">
      </div>
      <div class="slide">
        <img src="assets/images/lucid.png" alt="parceria" class="parceria__image">
      </div>
      <div class="slide">
        <img src="assets/images/goDaddy.jfif" alt="parceria" class="parceria__image">
      </div>

    </main>

  </div>

</section>

<div>
  <app-footer></app-footer>
</div>
