/* === IMPORTS DE FONTES === */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Saira+Extra+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:ital,wght@1,100&family=Saira+Extra+Condensed:wght@500&display=swap');

/* ===== Home main ===== */

.home__main
{
  background-image: url('/assets/images/fundo-novo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 690px;
}

.typewriter p
{
  overflow: hidden;
  border-right: 4px solid white;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 2px;
  animation: typing 4s steps(30, end) infinite;
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.home__solucoes p
{
  margin: 0;
  letter-spacing: 2px;
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.corpo__texto
{
  text-align: center ;
  font-family: 'Roboto', sans-serif;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 20px;
}

.subtitulo
{
  text-align: center;
  font-size: 12px;
}

/* ===== Home quem somos nós ===== */

.home__quemSomos
{
  padding: 50px 0;
}

.home__quemSomos__title
{

  font-family: 'Libre Baskerville', serif;
}

.quemSomos
{
  width: 60%;
}

.quemSomos__texto
{
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.icone
{
  height: 200px;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

/* ===== Home nossos servicos ===== */

.home__servicos
{
  background-color: #fffafa;
  padding: 50px 0;
}

.home__servicos__title
{
  font-family: 'Libre Baskerville', serif;
}

.bloco-titulo
{
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}

.bloco-subtitulo
{
  margin-top: 20px;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
}

.home__servicos-bloco
{
  padding: 10px;
  height: 150px;
}

.icone__servico
{
  background-color: #367FD6;
  height: 100px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-laptop
{
  height: 30px;
  width: 30px;
}

/* ===== images ===== */

.image__wifi
{
  height: 30px;
  width: 30px;
}

.image__globo
{
  height: 200px;
  width: 200px;
  animation: rotate 8s linear infinite;
}

.parceria__image
{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid black;
}

/* ===== key frames ===== */

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
