<section class="home__section d-flex flex-column justify-content-center align-items-center">

  <main class="home__main w-100"><!-- ilustrativo -->

    <div class="row g-0 mt-5">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="d-flex flex-column justify-content-center align-items-center">

          <div class="d-flex justify-content-center align-items-center">

            <div class="home__solucoes mx-2">
              <p>Soluções de </p>
            </div>

            <div class="typewriter">
              <p> Software, Infraestrutura e Redes .</p>
            </div>
          </div>

          <div class="my-3">
            <p class="color-white subtitulo">
              Transformando tecnologia em soluções para o seu negócio.
            </p>
          </div>

          <div class="mt-3">
            <p class="color-white corpo__texto">
              Com nossa expertise, conseguimos transformar a tecnologia em uma vantagem competitiva para nossos clientes, otimizando processos e
              elevando o desempenho operacional.
            </p>
          </div>

        </div>
      </div>
      <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">

        <div>
          <div class="text-end">
            <img src="/assets/images/wifi.png" alt="image_wifi" class="image__wifi">
          </div>

          <div>
            <img src="/assets/images/globo_internet.png" alt="image_internet" class="image__globo">
          </div>
        </div>

      </div>
    </div>

  </main>

  <div class="home__quemSomos d-flex flex-column justify-content-center align-items-center mb-5 w-50">

    <div class="home__quemSomos__title">
      <h2>Quem somos nós?</h2>
    </div>

    <div class="mt-5 d-flex justify-content-between align-items-center w-100">

      <div>
        <img src="/assets/images/icone.png" alt="icone" class="icone">
      </div>

      <div class="d-flex flex-column justify-content-center align-items-center quemSomos">
        <p class="quemSomos__texto">
          Com nossa expertise, conseguimos transformar a tecnologia em uma vantagem competitiva para nossos clientes, otimizando processos e
          elevando o desempenho operacional.
        </p>
        <p class="quemSomos__texto">
          Com nossa expertise, conseguimos transformar a tecnologia em uma vantagem competitiva para nossos clientes, otimizando processos e
          elevando o desempenho operacional.
        </p>
        <p class="quemSomos__texto">
          Com nossa expertise, conseguimos transformar a tecnologia em uma vantagem competitiva para nossos clientes, otimizando processos e
          elevando o desempenho operacional.
        </p>
      </div>

    </div>

  </div>

  <div class="home__servicos d-flex flex-column justify-content-center align-items-center mb-5 w-100"> <!-- Nossos serviços -->

    <div class="home__servicos__title">
      <h2>Nossos Serviços</h2>
    </div>

    <div class="my-5 d-flex flex-column justify-content-center align-items-center w-100">

      <div class="row g-0 d-flex justify-content-center align-items-center w-100 mb-5">

        <div class="col-md-4 home__servicos-bloco text-center mx-5">

          <div class="d-flex flex-column justify-content-center align-items-center">
            <h3 class="bloco-titulo font-weight">Instalação de Sistema Operacional</h3>

            <p class="bloco-subtitulo">
              Com nossa expertise, conseguimos transformar a tecnologia em uma vantagem competitiva para nossos clientes, otimizando processos e
              elevando o desempenho operacional.
            </p>
          </div>

        </div>

        <div class="col-md-4 home__servicos-bloco text-center mx-5">

          <div class="d-flex flex-column justify-content-center align-items-center">

            <h3 class="bloco-titulo font-weight">Consultoria em tecnologia da informação</h3>

            <p class="bloco-subtitulo">
              Oferecemos soluções de TI, como análise de processos de negócios, arquitetura de sistemas,
              planejamento e implementação de projetos de TI.
            </p>

          </div>

        </div>

      </div>

      <div class="row g-0 d-flex justify-content-center align-items-center w-100 mb-5">

        <div class="col-md-4 home__servicos-bloco text-center mx-5">

          <div class="d-flex flex-column justify-content-center align-items-center">
            <h3 class="bloco-titulo font-weight">Desenvolvimento de softwares personalizados para empresas</h3>

            <p class="bloco-subtitulo">
              Desenvolvimento de programas de software personalizados para atender às necessidades
              específicas das empresas, desde aplicativos desktop até soluções baseadas em nuvem.
            </p>
          </div>

        </div>

        <div class="col-md-4 home__servicos-bloco text-center mx-5">

          <div class="d-flex flex-column justify-content-center align-items-center">

            <h3 class="bloco-titulo font-weight">Implantação e gerenciamento de infraestrutura de servidores</h3>

            <p class="bloco-subtitulo">
              Implementação, configuração e gerenciamento de infraestrutura de servidores,
              incluindo hardware, sistema operacional e serviços.
            </p>

          </div>

        </div>

      </div>

      <div class="row g-0 d-flex justify-content-center align-items-center w-100 mb-5">

        <div class="col-md-4 home__servicos-bloco text-center mx-5">

          <div class="d-flex flex-column justify-content-center align-items-center">
            <h3 class="bloco-titulo font-weight">Segurança da informação</h3>

            <p class="bloco-subtitulo">
              Implementação de soluções de segurança da informação, como firewall, antivírus, criptografia,
              autenticação, gerenciamento de identidade e acesso, monitoramento de eventos e prevenção contra ameaças.
            </p>
          </div>

        </div>

        <div class="col-md-4 home__servicos-bloco text-center mx-5">

          <div class="d-flex flex-column justify-content-center align-items-center">

            <h3 class="bloco-titulo font-weight">Suporte técnico e manutenção de hardware e software</h3>

            <p class="bloco-subtitulo">
              Oferecemos suporte técnico para hardware e software, incluindo manutenção, reparo e atualização de sistemas.
            </p>

          </div>

        </div>

      </div>
    </div>

  </div>

</section>
