/* === IMPORTS DE FONTES === */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Saira+Extra+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:ital,wght@1,100&family=Saira+Extra+Condensed:wght@500&display=swap');

/* ===== Home main ===== */

.home__main
{
  background-image: url('/assets/images/fundo-novo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 690px;
}

.typewriter p
{
  overflow: hidden;
  border-right: 4px solid white;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 2px;
  animation: typing 4s steps(30, end) infinite;
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.home__solucoes p
{
  margin: 0;
  letter-spacing: 2px;
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.corpo__texto
{
  text-align: center ;
  font-family: 'Roboto', sans-serif;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 20px;
}

.subtitulo
{
  text-align: center;
  font-size: 12px;
}

/* ===== Home quem somos nós ===== */

.home__quemSomos
{
  padding: 50px 0;
}

.home__quemSomos__title
{

  font-family: 'Libre Baskerville', serif;
}

.quemSomos
{
  width: 60%;
}

.quemSomos__texto
{
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.icone
{
  height: 200px;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

/* ===== Home nossos servicos ===== */

.home__servicos
{
  background-color: #fffafa;
  padding: 50px 0;
}

.home__servicos__title
{
  font-family: 'Libre Baskerville', serif;
}

.bloco-titulo
{
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}

.bloco-subtitulo
{
  margin-top: 20px;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
}

.home__servicos-bloco
{
  max-width: 290px;
  padding: 10px;
  /* height: 150px; */
}
.home__servicos-bloco:hover
{
  transform: scale(1.1);
  transition: 0.5s;
}


.icone__servico
{
  background-color: #367FD6;
  height: 100px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-laptop
{
  height: 30px;
  width: 30px;
}

/* ===== images ===== */

.image__wifi
{
  height: 30px;
  width: 30px;
}

.image__globo
{
  height: 200px;
  width: 200px;
  animation: rotate 8s linear infinite;
}

.parceria__image
{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid black;
}

/* ===== key frames ===== */

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.div__parceiros
{
  background-color: #367FD6;
}

.title
{
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.parceiros
{
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;

}


main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 99.1vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.slide {
  position: absolute;
  width: 180px;
  height: 300px;
  border-radius: 20px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-180px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.slide:nth-of-type(1) {
  --offset: 1;
  background-color: #afd3ff;
}
div.slide:nth-of-type(2) {
  --offset: 2;
  background-color: #80b9ff;
}
div.slide:nth-of-type(3) {
  --offset: 3;
  background-color: #5fa7ff;
}


input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}
.slide
{
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"]
{
  margin-left: 40px;
  cursor: pointer;
  width: 18px;
  height: 18px;
}


@media only screen and (max-width: 1200px)
{
  .home__solucoes p
  {
    background-color: #80b9ff;
    width: 140px;
    text-align: end;
  }
}
