
<div class="d-flex flex-column justify-content-center align-items-center block__login">
	<div class="screen shadow">
		<div class="screen__content ">

			<form class="login">

        <div class="titulo__cgg">
          <h1>CGG</h1>
        </div>

				<form [formGroup]="loginForm">
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input type="text" class="login__input" placeholder="Login" formControlName="login">
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="password" class="login__input" placeholder="Senha" formControlName="senha">
          </div>
        </form>
				<button class="button login__submit" (click)="onSubmit()">
					<span class="button__text">Entrar</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
        <div>
          <a routerLink="#" class="esqueci__senha">Esqueci a senha</a>
        </div>
			</form>
			<div class="social-login">
				<div>
          <img src="assets/images/logo-icone.png" alt="logo" class="login__logo">
        </div>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>


<footer class="footer shadow">
  <p class="p-footer">&copy; 2023.  CGG - SOFTWARE</p>
</footer>
