@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.detalhes
{
  width: 80%;
  margin-top: 10vh;
}

.detalhes__empresa
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div__servicos
{
  margin-top: 5vh;
  width: 75vw;
}

.div__servico__contratado
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 12px solid var(--secondary-color);
  height: 260px;
  width: 280px;
  border-radius: 20px;
}

.red {
  --circle-progress-foreground-color: rgb(255, 79, 79);
}
.yellow {
  --circle-progress-foreground-color: rgb(255, 126, 97);
}
.green {
  --circle-progress-foreground-color: green;
}


.icone
{
  margin-bottom: 20px;
  color: var(--secondary-color);
  height: 50px;
  width: 50px;
  margin-top: 30px;
}

.title__servicos
{
  text-align: center;
  margin-top: 30px;
  color: black;
  letter-spacing: 0.6px;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
}

.nav-link-servicos
{
  color: black;
  font-size: 12px;
  letter-spacing: 1px;
}

.title__doc
{
  margin-top: 10vh;
}

.div__documentos
{
  margin-top: 30px;
  height: 150px;
}

.block__documentos
{
  background-color: white;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.block__documentos:hover
{
  transform: scale(1.1);
}

.icone-doc
{
  color: var(--secondary-color);
  height: 50px;
  width: 50px;
  margin-top: 30px;
}

.documentos__font
{
  text-align: center;
  font-size: 12px;
  margin: 0 10%;
  color: black;
  letter-spacing: 0.6px;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
}

@media only screen and (max-width: 1400px)
{

  .div__servico__contratado
  {
    height: 220px;
    width: 180px;
    border-radius: 20px;
  }

  .title__servicos
  {
    font-size: 12px;
  }

  .documentos__font
  {
    font-size: 10px;
  }

}
