<section class="d-flex flex-column justify-content-center align-items-center">
  <main class="dashboard">

    <div class="dashboard__blocks d-flex justify-content-around align-items-center">

      <div class="dashboard__block shadow">

        <div class="d-flex justify-content-around align-items-center w-100 mt-4">
          <div class="dashboard__icone mt-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pass-fill icone" viewBox="0 0 16 16" style="color: orange;">
              <path d="M10 0a2 2 0 1 1-4 0H3.5A1.5 1.5 0 0 0 2 1.5v13A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-13A1.5 1.5 0 0 0 12.5 0H10ZM4.5 5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1Zm0 2h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1Z"/>
            </svg>
          </div>

          <div class="dashboard__info">
            <div class="info__titulo">
              <p><strong>Ordens</strong></p>
            </div>

            <div class="info__texto">
              <p>3</p>
            </div>
          </div>
        </div>

        <div class="dashboard__paragrafo">
          <p>Serviços em andamento</p>
        </div>

      </div>

      <div class="dashboard__block shadow">

        <div class="d-flex justify-content-around align-items-center w-100 mt-4">

          <div class="dashboard__icone mt-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard2-check-fill icone" viewBox="0 0 16 16" style="color: rgb(43, 191, 43);">
              <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
              <path d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585c.055.156.085.325.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5c0-.175.03-.344.085-.5Zm6.769 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708Z"/>
            </svg>
          </div>

          <div class="dashboard__info">
            <div class="info__titulo">
              <p><strong>Serviços executados</strong></p>
            </div>

            <div class="info__texto">
              <p>17 </p>
            </div>
          </div>

        </div>

        <div class="dashboard__paragrafo">
          <p>Projetos entregues</p>
        </div>

      </div>

      <div class="dashboard__block shadow">

        <div class="d-flex justify-content-around align-items-center w-100 mt-4">

          <div class="dashboard__icone mt-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill mb-1 icone" viewBox="0 0 16 16" style="color: #4C489D;">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
          </div>

          <div class="dashboard__info">
            <div class="info__titulo">
              <p><strong>Funcionários</strong></p>
            </div>

            <div class="info__texto">
              <p>21</p>
            </div>
          </div>

        </div>

        <div class="dashboard__paragrafo">
          <p>Nossa equipe</p>
        </div>

      </div>

    </div>

    <div class="dashboard__graphics d-flex justify-content-around align-items-center w-100">

      <div class="graphics__services shadow">

        <canvas id="myChart"></canvas>

      </div>

      <div class="graphics__services2 shadow">

        <canvas id="myChart2"></canvas>

      </div>

    </div>

  </main>
</section>
