.nav-link
{
  color: white;
  font-weight: 500;
}

.button_login
{
  border: none;
  width: 100px;
  height: 50px;
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  font-weight: 500;
}

.button_login:hover
{
  background-color: var(--secondary-color);
  transition: 0.5s ease-in-out;
}

.nav a
{
  position: relative;
}

li a.active
{
  color: var(--tertiary-color);
}

li a.active::after
{
  content: '';
  height: 4px;
  margin: 0 10%;
  width: 80%;
  background-color: var(--tertiary-color) ;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.nav-link::after
{
  content: '';
  height: 4px;
  margin: 0 10%;
  width: 0%;
  background-color: var(--secondary-color) ;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
  border-radius: 50px;
}

.nav-link:hover::after
{
  width: 80%;
  background-color: var(--tertiary-color);
}

.nav-link:hover
{
  color: var(--tertiary-color);
}
